<body>
  <div class="full-screen">
    <div class="box-container-flex">
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 1</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 2</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 3</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 4</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 5</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 6</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 7</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 8</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 9</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 10</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 11</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 12</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 13</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 14</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 15</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 16</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 17</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 18</div>
      <div class="box-12 box-sm-6 box-md-4 box-lg-3">Elemento 19</div>
    </div>
  </div>
</body>
